ansible==4.1.0
ansible-core==2.11.1
autopep8==1.5.7
cffi==1.14.5
cryptography==3.4.7
gpg==1.15.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mercurial==5.8
packaging==20.9
passlib==1.7.4
protobuf==3.17.3
pycodestyle==2.7.0
pycparser==2.20
pygame==2.0.1
pyparsing==2.4.7
PyYAML==5.4.1
resolvelib==0.5.4
toml==0.10.2
passlib==1.7.4